.image {
  
 
 background-color: aqua; 
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center; /* Centers the background image */
  /* You can add more styles such as height and width if necessary */
  height: 100vh; /* Sets the height of the background image to 100% of the viewport height */
  width: 100%; /* Sets the width of the background image to 100% */
}